* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;

}

body {
    background-color: antiquewhite;
    color: black;

}

header {
    background-color: blue;
    color: white;
    padding: 20px;
}

.hero {
    padding: 20px;
    text-align: center;
}

.hero h2 {
    margin-bottom: 10px;
}

.hero p {
    margin-bottom: 20px;
    text-align: center;
}

.btn {
    background-color: red;
    padding: 10px;
    border-radius: 20px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
}




section {
    max-width: 900px;
    margin: auto;
    text-align: center;
    padding: 20px;
}



section h2 {
    text-align: center;
    margin-bottom: 25px;
}

.about p {
    text-align: center;
}

.skill-list {

    display: flex;
    border-radius: 20px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: calc(20px);
    margin-top: 20px;
    margin-bottom: 20px;
}

.skill {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    flex-wrap: wrap;
    display: inline-block;
    justify-content: center;

}

.project-card {
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.contact {
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}